<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Dispatcher</servlet-name>
        <servlet-class>servlets.Dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>servlets.CheckUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>servlets.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>servlets.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>servlets.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>servlets.UserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Base</servlet-name>
        <servlet-class>base.com.BaseUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dispatcher</servlet-name>
        <url-pattern>/Dispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/UserList</url-pattern>
    </servlet-mapping>
    <session-config><session-timeout>
        30
    </session-timeout></session-config><welcome-file-list><welcome-file>
    index.jsp
</welcome-file></welcome-file-list></web-app>